@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.warehouse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: $color-cloud 1px solid;
    color: $color-is-black;
    padding: 2.4rem;
    gap: 1.6rem;
    @include body-medium;

    &:hover {
      background-color: #2E66E512;
      ;
    }

    @include tablet {
      gap: 0;
      justify-content: space-between;
      align-items: center;
      padding: 0.8rem 3.2rem;
      flex-direction: row;
    }

    &__main-container{
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        width: 100%;

        @include tablet {
          display: contents;
        }
    }
  
    &__details-container,
    &__info-container {
      display: flex;
      flex-direction: column;
      flex:4.5;
      gap: 1.6rem;

      @include tablet {
        display: contents;
        flex-direction: row;
        align-items: center;
      }
    }

    &__label-mobile {
        margin:0;
        margin-bottom: 0.4rem;
        color: $color-slate;
        font-weight: 600;
        @include body-small;
        
            
        @include tablet {
            display: none;
        }
    }

    &__detail-container{
      @include tablet {
        padding-right: 1.75rem;
      }

      @include desktop {
        padding-right: 3rem;
      }

      &--warehouse {
        @include tablet {
          flex: 0 0 20%;
        }
      }

      &--address {
        @include tablet {
          flex: 1 0 18%;
          padding-right: 3rem;
        }
      }

      &--contact-name {
        @include tablet {
          flex: 0 0 20%;
        }
      }

      &--contact-info {
        @include tablet {
          flex: 0 0 27%;
          max-width: 20rem;
        }
      }
    }

    &__name-sub-container {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      margin-top:0;
      @include body-medium;
      @include chevron-parent;
    }

    &__name{
      margin-top: 0;
      margin-bottom: 0;
      color: $color-is-indigo;
      font-weight: 600;

      @include tablet {
        margin-bottom:0;
      }
    }
   
    &__warehouse {
      margin-bottom: 1.6rem;
      margin-top:0;
      @include body-medium;
      @include tablet {
        margin-bottom: 0;
      }
    }
    &__warehouse-container {
      @include tablet {
      flex: 4;
      }
    }

    &__chevron{
      height: 2rem;
      @include chevron-transition;
    }
  
    &__actions-container {
      display: flex;
      justify-content: space-between;

      @include tablet {
        justify-content: end;
        gap: 1.5rem;
        flex: 0 0 8%;
      }
  
      button {
        background: none;
        border: none;
        cursor: pointer;
  
        svg {
          width: 2.4rem;
          height: 2.4rem;
        }
      }

			&-container {
				flex: 1;
			}
    }
  }