@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.loader {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    padding: 1.5rem 0;

    @include tablet {
        gap: 1rem;
        padding: 3rem 0;
    }

    @include desktop {
        flex: 1;
    }

    &__dot {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: $color-slate;
        opacity: 1;
        animation: bounce 0.6s infinite alternate;

        @include tablet {
            width: 1rem;
            height: 1rem;
        }

        &--2 {
            animation-delay: 0.2s;
        }

        &--3 {
            animation-delay: 0.4s;
        }
    }

    @keyframes bounce {
        100% {
            opacity: 75%;
            transform: translateY(1rem);
        }
    }
}