$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$pad-increment: 0.8rem;

$color-is-black: #13182C;
$color-is-indigo: #2E66E5;
$color-white: #FFFFFF;
$color-slate: #5C667E; 
$color-cloud: #BDC5D5;
$color-graphite: #232940;
$color-lightgrey: #F7F8F9;
$color-green: #158463;
$color-red: #C94515;