@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.inventory-list{
    padding:0;
    margin:0;
    &__not-found{
      text-align: center;
      padding: 4rem;
    }
}

.inventory-list-section{
    display: flex;
    flex-direction: column;

    &__labels {
        display: none;
        @include body-small;

        @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color-lightgrey, 70%);
        color: $color-slate;
        padding: 0.4rem 3.2rem;
        height:40px;
        }
    }

	&__label {
    &-container {
      @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 1.75rem;
      }

      @include desktop {
        justify-content: unset;
      }

      &-inventory {
        @include tablet {
          flex: 0 0 23%;
        }
      }
      &-category {
        @include tablet {
          flex: 0 0 17%;
        }
      }
      &-status {
        @include tablet {
          flex: 0 0 19%;
        }
      }
      &-quantity {
        @include tablet {
          flex: 0 0 10%;
        }
      }
      &-warehouse {
        @include tablet {
          flex: 1 0 21%;
        }
      }
      &-actions {
        @include tablet {
          justify-content: end;
          flex: 0 0 7%;
          padding-right: 0;
        }
      }
    }
	}
}

.inventory-list-section__label{
  &-img {
    @include tablet {
      background: none;
      margin-left: 0.35rem;
      padding: 0;
      vertical-align: middle; 
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

   