@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.inventory-details {
	padding: 2.4rem;
    display: flex;
	flex-direction: column;
	
	@include tablet {
		flex-direction: row;
		padding: 3.2rem;
	}

	&__container1{
		display: flex;
		flex-direction: column;
	
		@include tablet {
			flex:5;
			margin-right: 2rem;
			border-right: 1px solid $color-cloud;
		}
	}

	&__container2{
		display: flex;
		flex-direction: column;
	
		@include tablet {
			flex:5;
			margin-bottom: 0;
		}
	}

	&__status-and-quantity{
		display: flex;
		flex-direction: row;
	
		@include tablet {
			margin-bottom: 4rem;
		}
	}
}

.inventory-description,
.inventory-category,
.inventory-quantity,
.inventory-warehouse {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.6rem;
	padding:0;
	font-weight: 400;
    @include body-medium;
	@include tablet {
		flex: 1;
		gap: 0;
		margin-bottom: 0;
	}

	&__label {
		margin: 0;
		font-weight: 600;
		padding-bottom: 0.4rem;
		color: $color-slate;
        @include table-header;
		@include tablet {
			font-weight: 600;
			padding-bottom: 0.4rem;
		}
	}

	&__content {
		display: inline-block; 
		padding:0;
		margin:0;
		line-height: 2rem;
		font-size:1.3rem;
		color:$color-is-black;
	
		@include tablet {
			line-height: 2.6rem; 
			font-size: 1.4rem;
		}
	}
}

.inventory-description {
	&__content {
		width:29.5rem;

		@include tablet {
			margin-bottom:2.8rem;
		}

		@include desktop {
			margin-bottom:1rem;
		}
	}
}

.inventory-status {
	display: flex;
	flex-direction: column;
	width: 50%;

	@include tablet {
		flex: 1;
		gap: 0;
		margin-bottom: 0;
	}

	&__label {
		margin: 0;
		font-weight: 600;
		padding-bottom: 0.4rem;
		font-size: 1.1rem;
		color: $color-slate;
        @include table-header;
		

		@include tablet {
			font-size:1.2rem;
			font-weight: 600;
		}
	}

	&__content {
		border-radius: 2rem;
		display: inline-block; 
    	justify-content: center;
    	align-items: center;
		text-transform: uppercase;
		white-space: nowrap;
		margin: 0;
		padding: 0.4rem 0.8rem; 
		line-height: 2rem;
		margin-bottom: 1.6rem;
		font-weight: 600;
		font-size: 1.1rem;
		cursor: pointer;
	
		@include tablet {
			line-height: 2.2rem; 
		}

		&.in-stock {
			background-color: rgba($color-green, 7%);
			color: $color-green;
			width:52px;
		}

		&.out-of-stock {
			background-color: rgba($color-red, 7%);
			color: $color-red; 
			width:7rem;
		}
	}
}

.inventory-warehouse {
	margin-bottom: 0.8rem;
}

.inventory-quantity {
    display: flex;
	flex-direction: column;
	@include tablet {
		margin-bottom: 1.6rem;
	}
}