@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.inventory-form {
    &__content {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        background-color: $color-white;
    
        @include tablet {
            flex-direction: row;
            justify-content: stretch;
            margin: 1rem 0;
        }
    }

    &__section {
        padding: 0 2rem 1.5rem;
        border-bottom: 0.1rem solid $color-cloud;

        @include tablet {
            border-bottom: none;
            border-right: 0.1rem solid $color-cloud;
            flex-grow: 1;
            padding: 0 2rem 1rem;
        }

        @include desktop {
            width: 40%;
        }

        &--2 {
            border-bottom: none;

            @include tablet {
                border-right: none;
            }
        }
    }

    &__subheader {
        color: $color-is-black;
        margin-top: 1.75rem;
        @include subheader;
    }

    &__label {
        height: 3.6rem;
        display: flex;
        align-items: end;
        color: $color-is-black;
        font-weight: 600;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        @include labels-links-buttons;
        @include tablet {
            font-weight: 600;
            height: 3.8rem;
        }
    }

    &__input {
        height: 3.6rem;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        border: 0.1rem solid $color-cloud;
        border-radius: 2rem;
        position: relative;

        @include tablet {
            height: 3.8rem;
        }

        &::placeholder {
            color: $color-slate;
            @include body-medium;
        }

        &:focus {
            outline: none;
            border-color: $color-is-indigo;
            color: $color-is-black;
        }

        &--error {
            border-color: $color-red;
        }

        &--select {
            height: auto;
            appearance: none;
            background-image: url('../../assets/icons/arrow_drop_down-24px.svg');
            background-repeat: no-repeat;
            background-position: right center;
            font-family: inherit;
            @include body-medium;
        }
    }

    &__textarea {
        width: 100%;
        height: 12rem;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        border: 0.0625rem solid $color-cloud;
        border-radius: 2rem;
        position: relative;
        resize: none;
        @include body-medium;

        &::placeholder {
            color: $color-slate;
            @include body-medium;
        }

        &:focus {
            outline: none;
            border-color: $color-is-indigo;
            color: $color-is-black;
        }

        &--error {
            border-color: $color-red;
        }
    }

    &__radio {
        @include body-medium;
    }

    &__quantity {
        display: block;

        &--hidden {
            display: none;
        }
    }

    &__radio-container {
        display: flex;
        width: 100%;

        @include tablet {
            justify-content: flex-start;
            gap: 2rem;
        }
    }

    &__radio-option {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 50%;
    }

    &__buttons {
        display: flex;
        gap: 2rem;
        background-color: $color-lightgrey;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 5.7rem;
        padding: 4rem 3rem;
        justify-content: space-evenly;
        align-items: center;

        @include tablet {
            justify-content: flex-end;
            padding-right: 2rem;
        }
    }

    &__button-wrapper {
        width: 100%;
        height: 3.6rem;

        @include tablet {
            width: unset;
            height: 3.8rem;
            margin-left: 1rem;
        }
    }
}

#in-stock, #out-of-stock {
    margin: 0 0.5rem;
    padding: 0;
}