@use "../../styles/partials/global.scss";
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/variables.scss" as *;

input {
  border: 1px solid $color-cloud;
  border-radius: 2rem;
  padding: 1rem;
  width: 100%;
  height: 3.6rem;

  &::placeholder {
    color: $color-slate;
  }

  &:focus {
    border: 1px solid $color-is-indigo;
    outline: none;
  }
}
label {
  font-weight: 700;
  display: block;
  padding: 1.6rem 0rem 0.4rem 0rem;
}

.new-inventory {
  background-color: white;
  border-radius: 0.2rem;

  &__header-container {
    padding: 2.4rem;
    border-bottom: 1px solid $color-cloud;
  }

  &__item-details {
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid $color-cloud;
  }

  &__item-avail {
    padding: 1.6rem 2.4rem;
  }

  @include tablet {
    &__form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__item-details {
      width: 50%;
      border-bottom: none;
      border-right: 1px solid $color-cloud;
      padding-right: 3.6rem;
    }

    &__item-avail {
      width: 48%;
      border-bottom: none;
    }
  }

  &__description-input {
    height: 12rem;
  }

  &__dropdown {
    position: relative;
    display: inline-block;
    width: 100%;

    select {
      appearance: none;
      width: 100%;
      padding: 1rem;
      padding-right: 4rem;
      border: 1px solid $color-cloud;
      border-radius: 2rem;
      color: $color-slate;
      cursor: pointer;
      background: url("../../assets/Icons/arrow_drop_down-24px.svg") no-repeat
        right 1rem center;
      background-size: 2rem;

      &:focus {
        outline: none;
        border-color: $color-is-indigo;
      }
    }
  }

  &__radio-btns {
    display: flex;
    justify-content: space-between;

    label {
      display: flex;
      width: 50%;
      font-weight: 400;
      padding-top: 0;
    }
  }

  &__radio-btn {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0.8rem;

    &:not(:checked) + label {
      color: $color-slate;
    }
  }

  &__btns-container {
    padding: 2.4rem;
    background-color: $color-lightgrey;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;

    @include tablet{
      justify-content: flex-end;
    }
  }

  &__btn {
    width: 50%;
    border-radius: 2rem;
    border: 1px solid $color-cloud;
    height: 3.6rem;
    background-color: white;
    color: $color-slate;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1px solid $color-is-indigo;
      color: $color-is-indigo;
    }

    @include tablet {
      padding: 1.6rem;
      height: 3.8rem;
      width: unset;
      padding: 0 1rem;
    }

    &--add {
      background-color: $color-is-indigo;
      color: white;

      &:hover {
        background-color: $color-graphite;
        color: white;
      }
    }
  }
}
