@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;


.content-wrapper {
	margin: 0 1.6rem;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 2px 5px #13182c34;
	transform: translateY(-5.8rem);
	overflow: hidden;

	@include tablet {
		margin: 0 3.2rem;
		transform: translateY(-9.7rem);
	}
	@include desktop {
		margin: 0 13rem;
	}
}