@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;


.delete-button {
    all: unset;
    background-color: $color-red;
    width: 100%;
    height: 3.6rem;
    font-weight: 600;
    color:#ffff;
    border-radius: 2rem;
    text-align: center;
    @include body-medium;
    @include tablet {
      width: unset;
      padding: 0 1.75rem;
      height: 38px;
    }
    &:hover {
      background-color: $color-is-black;
    }
}