@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.warehouse-list{
    padding:0;
    margin:0;
}
.warehouse-list-section{
    display: flex;
    flex-direction: column;
    &__labels {
        display: none;
        @include body-small;
        @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color-lightgrey, 70%);
        color: $color-slate;
        padding:4px 32px;
        height:40px;
        }
    }
	&__label {
			&-container {
        @include tablet {
				display: flex;
				flex-direction: row;
				align-items: center;
        padding-right: 1.75rem;
        }
  
        @include desktop {
          padding-right: 3rem;
        }

        &-warehouse {
          @include tablet {
            flex: 0 0 20%;
          }
        }
        &-address {
          @include tablet {
            flex: 1 0 18%;
            padding-right: 3rem;
          }
        }
        &-name{
          @include tablet {
            flex: 0 0 20%;
          }
        }
        &-info {
          @include tablet {
            flex: 0 0 27%;
            max-width: 20rem;
          }
        }
        &-action {
          @include tablet {
            justify-content: end;
            flex: 0 0 8%;
          }
        }
			}
	}
}

.warehouse-list-section__label{
  &-img {
    @include tablet {
      background: none;
      padding: 0;
      vertical-align: middle; 
      width:16px;
      height:16px;
    }
  }

}

   