@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.editWarehouse {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    background-color: #F7F8F9;
    &__empty {
        position: absolute;
        width: 100%;
        height: 6.5rem;
        background-color: #232940;
        border: solid #232940;
        @include tablet {
            height: 9rem;
        }
    }
    &__header {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        height: 9rem;
        border-bottom: solid #BDC5D5;
        border-width: 0.1rem;
        padding: 2rem;
        font-size: 2.8rem;
        box-shadow: 0 .125rem .3125rem 0 #13182C1A;
        z-index: 1;
        @include tablet {
            padding: 3rem;
        }
        &-icon {
            margin-right: 0.5rem;
        }
    }

    &__formWrapper {
        background-color: #ffffff;
        width: 100%;
        box-shadow: 0 .125rem .3125rem 0 #13182C1A;
        z-index: 1;
    }

    &__form {
        display: flex;
        @include tablet {
            &-sections {
                display: flex;
            }
        }

        &-section {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            padding: 2rem 2rem 1rem 2rem;
            @include tablet {
                width: 100%;
                margin: 2rem 0 3rem 0;
                padding: 0 3rem 0 3rem;
            }
        }
        &-warehouse {
            border-bottom: solid #BDC5D5;
            border-width: 0.1rem;
            @include tablet {
                border-bottom: none;
                border-right: solid #BDC5D5;
                border-width: 0.1rem;;
            }
        }
        &-details {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        &-label {
            font-size: 1.3rem;
            margin-top: 2rem;
        }
        &-input {
            border-radius: 2rem;
            height: 3.6rem;
            padding-left: 2rem;
            font-size: 1.3rem;
            border: solid #BDC5D5;
            border-width: 0.1rem;
            margin-top: 0.5rem;
            color: #13182C;
        }

        &-buttons{
            display: flex;
            justify-content: right;
            align-items: center;
            padding: 1rem;
            background-color: #F7F8F9;
            height: 6.8rem;
            @include tablet {
                height: 7rem;
                padding-right: 2rem;
            }
        }
        &-button {
            height: 3.6rem;
            width: 100%;
            border-radius: 2rem;
            margin: 0 1rem;
        }
        &-cancel {
            border: solid #BDC5D5;
            border-width: 0.1rem;
            background-color: #ffffff;
            color: #5C667E;
            @include tablet {
                width: 8rem;
            }
            &:hover {
                border: solid #2E66E5;
                color: #2E66E5;
            }
        }
        &-add {
            border: none;
            background-color: #2E66E5;
            color: #ffffff;
            @include tablet {
                width: 15rem;
            }
            &:hover {
                background-color: #232940;
            }
        }
    }


}