@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.inventory-form {
  &__header {
    border-bottom: 1px solid $color-cloud;
    display: flex;
    justify-content: left;
    margin-top: 0;
    background-color: #ffffff;
    padding: 3.2rem 2.4rem 2.4rem;
    align-items: flex-start; 
    border-radius: 0.2rem;

    @include tablet {
      padding: 3.2rem 3.2rem 2.4rem;
    }
  }

  &__back-icon {
    align-self: flex-start;
    cursor: pointer; 
    margin-top: 1rem;

    @include tablet {
        margin: 0;
        margin-top:1rem;
    }
}

  &__title {
    color: $color-is-black;
    font-weight: 600;
    margin: 0;
    margin-left:0.5rem;
    @include page-header;
  }
}
