@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.inventory-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: $color-cloud 1px solid;
    color: $color-is-black;
    padding: 2.4rem;

    &:hover {
      background-color: #2E66E512;
    }

    @include tablet {
      justify-content: space-between;
      padding: 0.8rem 3.2rem;
      flex-direction: row;
      align-items: center;
    }

    &__main-container{
        display: flex;
        flex-direction: row;
        width: 100%;

        @include tablet {
          display: contents;
        }
    }
  
    &__details-container,
    &__info-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      @include tablet {
        display: contents;
        flex-direction: row;
        align-items: center;
      }
    }

    &__label-mobile {
        margin:0;
        margin-bottom: 0.4rem;
        color: $color-slate;
        font-weight: 600;
        @include body-small;
        
            
        @include tablet {
            display: none;
        }
    }

    &__name-container {
      @include tablet {
        flex: 0 0 23%;
      }
    }

    &__category-container{
      @include tablet {
        flex: 0 0 17%;
      }
    }

    &__name-sub-container {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      margin-top:0;
      @include body-medium;
      @include chevron-parent;
    }

    &__name{
      margin-top: 0;
      margin-bottom: 1.6rem;
      color: $color-is-indigo;
      font-weight: 600;

      @include tablet {
        margin-bottom: 0;
      }
    }

    &__category {
      margin-bottom: 1.6rem;
      margin-top:0;
      @include body-medium;
      @include tablet {
        margin-right: 1rem;
        margin-bottom: 0;
        flex: 1;

        @include desktop {
          width: auto; 
        }
      }
    }

    &__status,
    &__quantity,
    &__warehouse {
      margin-bottom: 1.6rem;
      margin-top:0;
      @include body-medium;
      @include tablet {
        margin-bottom: 0;
      }
    }

    &__status-container{
      @include tablet {
        flex: 0 0 19%;
      }
    }
    &__quantity-container{
      @include tablet {
        flex: 0 0 10%;
      }
    }
    &__warehouse-container {
      @include tablet {
        flex: 1 0 21%;
      }
    }

    &__chevron{
      height: 2rem;
      @include chevron-transition;
    }
  
    &__status {
      border-radius: 2rem; 
      display: inline-block; 
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: pointer;
      padding: 0.4rem 0.8rem; 
      line-height: 2rem;
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 1.2rem;

      @include tablet {
        line-height: 2.6rem; 
        margin: 0.4rem;
      }

      &.in-stock {
        background-color: rgba($color-green, 7%);
        color:$color-green;
      }

      &.out-of-stock {
        background-color: rgba($color-red, 7%);
        color: $color-red; 
      }
    }
  
  
    &__actions {
      display: flex;
      justify-content: space-between;
  
      @include tablet {
        justify-content: end;
        flex: 0 0 7%;
        gap: 1.5rem;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
  
        svg {
          width: 2.4rem;
          height: 2.4rem;
        }
      }

			&-container {
				flex: 1;
			}
    }
  }
  